/* #region ThreeJS */
canvas{
  position: fixed;
  top: 0;
  left: 0;
}

main {
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  display: none;
}

/* #endregion Animations*/

/* #region Animations*/

/* Bounce Animation */
@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }

  40% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(6px);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    transform: translateY(3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }

  40% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(6px);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    transform: translateY(3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* End Bounce Animation */

/* Fade In Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  10% {
    opacity: 10%;
    transform: scale(0.1);
  }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: scale(0);
  }

  10% {
      opacity: 10%;
      transform: scale(0.1);
  }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}
  
/* End Fade In Animation */

/* Fade In Non Scale Animation */
@-webkit-keyframes fadeInNonScale {
  0% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeInNonScale {
  0% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
  
/* End Fade In Non Scale Animation */

/* Fade In Left Animation */
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: scale(0);
    left: 70%;
}

10% {
    opacity: 10%;
    transform: scale(0.1);
    left: 63%;
}

100% {
    opacity: 1;
    transform: scale(1);
    left: 0%;
}
}

@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: scale(0);
      left: 70%;
  }

  10% {
      opacity: 10%;
      transform: scale(0.1);
      left: 63%;
  }

  100% {
      opacity: 1;
      transform: scale(1);
      left: 0%;
  }
}
  
/* End Fade In Left Animation */

/* Button Shine Animation */
@keyframes shine {
  0% {
    left: -30%
  }
  100% {
    left: 165%
  }
}

@-webkit-keyframes shine {
  0% {
    left: -30%
  }
  100% {
    left: 165%
  }
}
/* End Button Shine Animation */

/* Icon Shine Animation */
@keyframes IconShine {
  0% {
    left: -200%
  }
  100% {
    left: 200%
  }
}

@-webkit-keyframes IconShine {
  0% {
    left: -200%
  }
  100% {
    left: 200%
  }
}
/* End Icon Shine Animation */

/* Icon Glow Animation */
@keyframes IconGlow {
  0% {
    box-shadow: 0 0 8px 2px #ffffff;
  }
  20% {
    box-shadow: 0 0 8px 2px #ffffff;
  }
  50% {
    box-shadow: 0 0 8px 10px #ffffff;
  }
  80% {
    box-shadow: 0 0 8px 2px #ffffff;
  }
  100% {
    box-shadow: 0 0 8px 2px #ffffff;
  }
}

@-webkit-keyframes IconGlow {
  0% {
    box-shadow: 0 0 8px 2px #ffffff;
  }
  20% {
    box-shadow: 0 0 8px 2px #ffffff;
  }
  50% {
    box-shadow: 0 0 8px 10px #ffffff;
  }
  80% {
    box-shadow: 0 0 8px 2px #ffffff;
  }
  100% {
    box-shadow: 0 0 8px 2px #ffffff;
  }
}
/* End Icon Glow Animation */

/* #endregion */

/* #region Helpers*/
.hide {
  display: none;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.whiteText {
  color: white;
}

.ButtonShine{
  position: relative;
  overflow: hidden;
}

.ButtonShine::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  top: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}

.ButtonShine::after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-100px) skewX(-15deg);
}

.ButtonShine:hover::before,
.ButtonShine:hover::after {
  animation: shine 1s forwards;
}

.LogoAnimation{
  animation: fadeInLeft 1s forwards;
}

.removeImagesAnimation{
  animation: fadeInLeft 1s reverse forwards;
}

.fadeIn {
  animation: fadeIn 1s forwards;
  -webkit-animation: fadeIn 1s forwards;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

.bounceIn {
  opacity: 0;
  animation: fadeBounce 1s forwards;
  -webkit-animation: fadeBounce 1s forwards;
  animation-fill-mode: forwards;
}

.row:before,
.row:after,
.group:before,
.group:after {
  content: "";
  display: table;
}

.row:after,
.group:after {
  clear: both;
}

.row,
.group {
  zoom: 1;
}

/* #endregion*/

/* #region Custom Fonts */

@font-face {
  font-family: 'Pixel';
  src: url('fonts/slkscr.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* #endregion End Custom Fonts */

/* #region General */

html {
  background-image: linear-gradient(to right bottom, #000000, #1c1c1c, #323232, #4E4E4E,#323232, #1c1c1c, #000000);
  line-height: 1.7;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* #endregion */

/* #region Containers */

.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  max-width: 50%;
  overflow: hidden;
}

.margincenter {
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 47%;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    flex-direction: column;
  }

  .container {
    max-width: 80%;
  }

}

@media screen and (max-width: 768px) {
  
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content-area {
  padding-bottom: 40px;
  padding-top: 40px;
  scroll-snap-align: center;
}

.content-area h2 {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 210%;
    text-align: center;
    background-color: #fffffe;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media screen and (max-width: 1024px) {
  .content-area {
    scroll-snap-align: none;
  }
}

@media screen and (max-width: 768px) {
  .content-area {
    padding-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .hide-small {
    display: none;
  }
}

/* #endregion Containers */

/* #region Header and Site Nav */

header {
  margin-top: 50px;
  margin-bottom: 150px;
  scroll-snap-align: center;
}

.headerLogo{
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.headerLogo, .navLogo{
  width: 41.6%;
  text-align: center;
  margin-left: 100px;
  background: linear-gradient(to left bottom, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
  linear-gradient(to right bottom, #DB7802, #EAA001) border-box;
  border: 5px solid transparent;
  border-radius: 20px;
}

.headerLogo:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.navInfo {
  padding-top: 15px;
  padding-bottom: 10px;
}

.navLogo:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.navLogo{
  margin-top: 22px;
  margin-bottom: 22px;
}

.bounceAnimOne, .bounceAnimTwo, .bounceAnimThree
{
  opacity: 0;
  animation: fadeBounce 1s forwards;
  -webkit-animation: fadeBounce 1s forwards;
  animation-fill-mode: forwards;
}

.bounceAnimTwo
{
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.bounceAnimThree
{
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@media screen and (max-width: 1024px) {

  .headerLogo{
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 120px;
    margin-bottom: 60px;
  }


  .headerLogo, .navLogo{
    width: 45%;
    margin-left: 80px;
    border: 4px solid transparent;
  }

  .navInfo img {
    width: 50%;
    height: 50%;
  }

  .navLogo{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  header {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 768px) {

  .headerLogo, .navLogo{
    width: 90%;
    margin: 0 auto;
  }

  .headerLogo{
    margin-top: 2%;
    margin-bottom: 30px;
  }

  .navLogo{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  header {
    margin-top: 550px;
  }
}

@media screen and (max-width: 376px) {
  header {
    margin-top: 350px;
  }
}

/* #endregion Header and Site Nav */

/* #region Sidebar Nav */

.leftSidenav a {
  position: fixed;
  transition: 0.3s;
  left: -105px;
  padding: 14px;
  width: 140px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background: linear-gradient(to left bottom, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
  linear-gradient(to right bottom, #DB7802, #EAA001) border-box;
  border: 3px solid transparent;
  border-left:none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transform: translateX(-200px); /* Start off-screen */
  opacity: 0; /* Start invisible */
  animation: slideIn 1s forwards; /* Animation settings */
}

.leftSidenav a:hover {
  left: 0;
}

.leftSidenav a:nth-child(1), .rightSidenav a:nth-child(1) {
  animation-delay: 0.2s;
}

.leftSidenav a:nth-child(2), .rightSidenav a:nth-child(2) {
  animation-delay: 0.4s;
}

.leftSidenav a:nth-child(3), .rightSidenav a:nth-child(3) {
  animation-delay: 0.6s;
}

.leftSidenav a:nth-child(4), .rightSidenav a:nth-child(4) { 
  animation-delay: 0.8s;
}

.rightSidenav a {
  position: fixed;
  right: -98px;
  transition: 0.3s;
  padding: 10px;
  width: 140px;
  text-decoration: none;
  font-size: 13.5px;
  color: white;
  background: linear-gradient(to left bottom, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
  linear-gradient(to right bottom, #DB7802, #EAA001) border-box;
  border: 3px solid transparent;
  border-right:none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  transform: translateX(200px); /* Start off-screen */
  opacity: 0; /* Start invisible */
  animation: slideIn 1s forwards; /* Animation settings */
}

.rightSidenav a:hover {
  right: 0px;
}

@keyframes slideIn {
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

#SideLinkedIn {
  top: 60%;
  border-radius: 0 15px 0 0;
}

#SideItch {
  top: 67.5%;
}

#SideGitHub {
  top: 75%;
}

#SideContact {
  top: 82.5%;
  border-radius: 0 0 15px 0;
}

#SideHeader {
  top: 45%;
  border-radius: 15px 0 0 15px;
  font-size: 20px;
  transform: translateX(0); 
  opacity: 1;
}

#SideFellchaser {
  top: 60%;
  border-radius: 15px 0 0 0;
  background: url(assets/images/FellChaserBackground.png) padding-box,
  linear-gradient(to right bottom, #e4e4e4, #dbd1e2, #ddbbd8, #e686a3, #e1839f, #be9dba, #b4aaba, #b3b3b3) border-box;
}

#SideEnkore {
  top: 67.5%;
  background: url(assets/images/EKBackgroundScaled.png) padding-box,
  linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
}

#SideCC {
  top: 75%;
  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;
}

#SideZotZoomer {
  top: 82.5%;
  border-radius: 0 0 0 15px;
  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;
}


.leftSidebarIcon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(assets/images/Icons.png);
  text-indent: -99999px;
  background-repeat: no-repeat;
  margin: auto;
  margin: 4px;
  float: right;
  filter: invert(55%) sepia(65%) saturate(2742%) hue-rotate(352deg) brightness(105%) contrast(98%);
}

.rightSidebarIcon {
  display: block;
  width: 45px;
  height: 45px;
  background-image: url(assets/images/PortfolioIcons.png);
  text-indent: -99999px;
  background-repeat: no-repeat;
  text-align: right;
  float: right;
  margin-right: 5px;
}

#sideItchImage { background-position: -30px 0; }

#sideGitImage { background-position: -60px 0; }

#sideContactImage { background-position: -90px 0; }

#sideHeaderImage { background-image: url(assets/images/DBLogoIcon.png); }

#sideFellchaserImage { background-position: 0px 0; }

#sideEnkoreImage { background-position: -45px 0; }

#sideCCImage { background-position: -90px 0; }

#sideZZImage { background-position: -135px 0; }

@media screen and (max-width: 1024px) {
  .leftSidenav {
    display: none;
  }
  .rightSidenav {
    display: none;
  }
}

/* #endregion End Sidebar Nav */

/* #region About Me */

.AboutMe {
  width: 41.6%;
  text-align: center;
  margin-left: 100px;
  background: linear-gradient(to left bottom, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
  linear-gradient(to right bottom, #DB7802, #EAA001) border-box;
  border: 5px solid transparent;
  border-radius: 20px;
  margin-top: 100px;
  padding: 20px;
}

.AboutMe p {
  color: white;
  font-size: 140%;
  margin: 25px 5px;
}

@media screen and (max-width: 1280px) {
  .AboutMe p {
    font-size: 125%;
    margin: 10px 5px;
  }
}

@media screen and (max-width: 1024px) {

  .AboutMe {
    margin-bottom: 20px;
  }

  .AboutMe p {
    font-size: 110%;
  }
}

@media screen and (max-width: 768px) {

  .AboutMe {
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 400px;
  }

  .AboutMe p {
    font-size: 110%;
  }
}

/* #endregion End About Me */

/* #region Grid */

.row {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .row {
    display: block;
  }
}

.col {
  width: 100%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}

.col-xs-11 {
  width: 91.662%;
}
.col-xs-10 {
  width: 83.332%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.662%;
}
.col-xs-7 {
  width: 58.331%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.662%;
}
.col-xs-4 {
  width: 33.332%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.662%;
}
.col-xs-1 {
  width: 8.332%;
}

@media screen and (min-width: 768px) {
  .row {
    margin-right: -40px;
  }

  .col {
    padding-right: 40px;
  }

  .col-sm-11 {
    width: 91.662%;
  }
  .col-sm-10 {
    width: 83.332%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.662%;
  }
  .col-sm-7 {
    width: 58.331%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.662%;
  }
  .col-sm-4 {
    width: 33.332%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.662%;
  }
  .col-sm-1 {
    width: 8.332%;
  }
}

@media screen and (min-width: 1024px) {
  .col-md-11 {
    width: 91.662%;
  }
  .col-md-10 {
    width: 83.332%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.662%;
  }
  .col-md-7 {
    width: 58.331%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.662%;
  }
  .col-md-4 {
    width: 33.332%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.662%;
  }
  .col-md-1 {
    width: 8.332%;
  }
}

@media screen and (min-width: 1280px) {
  .col-lg-11 {
    width: 91.662%;
  }
  .col-lg-10 {
    width: 83.332%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.662%;
  }
  .col-lg-7 {
    width: 58.331%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.662%;
  }
  .col-lg-4 {
    width: 33.332%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.662%;
  }
  .col-lg-1 {
    width: 8.332%;
  }
}

@media screen and (max-width: 1024px) {
  .push-down-sm {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .push-down-sm {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .col {
    padding-right: 0;
  }
}

/* #endregion Grid */

/* #region Footer */

footer {
  text-align: center;
  font-size: 85%;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer li {
  list-style: none;
  color: #000;
  filter: invert(55%) sepia(65%) saturate(2742%) hue-rotate(352deg) brightness(105%) contrast(98%);
}

/* Footer Buttons */

footer a {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(assets/images/Icons.png);
  text-indent: -99999px;
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 4px;
  transform: scale(1.2);
}

.linkedIn a:hover {transform: scale(1.1); transition: all 0.5s ease;} 

.itchio a {background-position: -30px 0;}

.itchio a:hover {transform: scale(1.1); transition: all 0.5s ease;}

.gitHub a {background-position: -60px 0;} 

.gitHub a:hover {transform: scale(1.1); transition: all 0.5s ease;}

.email a {background-position: -90px 0;} 

.email a:hover {transform: scale(1.1); transition: all 0.5s ease;}

/* Footer Buttons End */

/* #endregion Footer */

/* Portfolio Page Start */

/* #region GameInfoText */

.gameHeader {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

h2.gameTitle {
  font-family: 'Press Start 2P', Arial, sans-serif;
  font-size: 210%;
  text-align: left;
  color: #000;
}

ul.gameInfo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

ul.gameInfo li {
  font-weight: bold;
  list-style: none;
  align-self: flex-end;
  margin-right: 10px;
  font-size: 110%;
}

ul.gameInfo li.Role {
  font-size: 160%;
}

li.Role {
  font-style: italic;
  padding-right: 10px;
  border-right: 3px solid white;
}

li.Date {
  padding: 6px 0;
}

li.Software {
  padding-right: 10px;
  border-right: 3px solid white;
}

li.WeeksWorked {
  padding-right: 10px;
  border-right: 3px solid white;
}

li.TeamSize {
  border-right: none;
  margin-right: 0 !important;
}

p.gameDescription {
  font-size: 150%;
  background-color: rgba(22, 22, 22, 0.8);
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.gameDescription {
  background-color: rgba(105,215,239, 0.2);
  border-radius: 15px;
  padding: 10px 15px;
}

@media screen and (max-width: 768px) {
  .gameHeader{
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  h2.gameTitle {
    font-size: 180%;
    padding-right: 30px;
  }
}

@media screen and (max-width: 700px) {
  h2.gameTitle {
    font-size: 160%;
  }

  ul.gameInfo li.Role {
    font-size: 140%;
  }

  ul.gameInfo li {
    font-size: 100%;
    z-index: 999;
  }
}

@media screen and (max-width: 500px) {
  p.gameDescription {
    font-size: 130%;
  }

  ul.gameInfo {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  ul.gameInfo li {
    font-size: 90%;
  }

  p.gameDescription {
    font-size: 120%;
  }

  ul.gameInfo li.Role {
    font-size: 120%;
  }

  ul.gameInfo {
    margin-bottom: 5px;
  }

  h2.gameTitle {
    padding-right: 60px;
  }
}

@media screen and (max-width: 350px) {
  h2.gameTitle {
    padding-right: 0;
  }
}

/* #endregion GameInfoText */

/* #region LoadingScreen */

.spinner-background {
  width: 100%;
  height: 100%;
  background-color: #000c;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.spinner {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
  transform-origin: 50% 60%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}
.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  margin: -4px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: .05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
}

.spinner:before {
  border-top-color: #d56e00;
}

.spinner:after {
  border-top-color: #dfa608;
  animation-delay: 0.3s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  20% {
    opacity: .1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: .1;
  }
}

.loading-text {
  animation: pulsing-fade 4000ms ease infinite;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  left: 50%;
  letter-spacing: 8px;
  margin-left: 4px;
  margin-top: 10px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  text-transform: uppercase;
}

.DYKInfo
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  letter-spacing: 8px;
  margin-left: 4px;
  margin-top: 30%;
  position: absolute;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
}

#DYKText {
  color: white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 7px;
}

#NextLoadingTextArrow {
  color: white;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

#more-arrows {
  height: 65px;
  width: 18%;
  animation: fadeInNonScale 1000ms ease forwards;
  opacity: 0;
  animation-delay: 1000ms;
  transform: rotate(-90deg) scale(0.5);
  
  &:hover {
    
    polygon {
      fill: #FFF;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
      
    }
  
  }
  
}

polygon {
  fill: #FFF;
  transition: all .2s ease-out;
    
  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}
	 
}

@keyframes pulsing-fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

/* #endregion LoadingScreen */

/* #region NavButtons */

.navButtonSection
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navButton
{
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow-icon:hover
{
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  right: 33%;
}

.left-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: -30px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    background: linear-gradient(to left bottom, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
    linear-gradient(to right bottom, #DB7802, #EAA001) border-box;
    border: 2px solid transparent;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
  }
}

.right-bar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: -4px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
  &:after {
    content:"";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 0 6px 6px 10px;
    background: linear-gradient(to left bottom, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
    linear-gradient(to right bottom, #DB7802, #EAA001) border-box;
    border: 2px solid transparent;

    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
  }
}

.open {
    .left-bar:after {
    transform-origin: center center;
    transform: rotate(-70deg);
  }
  .right-bar:after {
    transform-origin: center center;
    transform: rotate(70deg);
  }

}

/* #endregion NavButtons */

/* #region PortfolioButtons */

.ContentButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gameButtons {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  width: 100%;
}

.playButton,
.infoButton {
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  color: #fff;
  text-align: center;
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
}

.fellChaserButton{
  background: linear-gradient(90deg, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
  linear-gradient(to right bottom, #e4e4e4, #dbd1e2, #ddbbd8, #e686a3, #e1839f, #be9dba, #b4aaba, #b3b3b3) border-box;
  border: 3px solid transparent;
  border-radius: 5px;
}

.enKoreButton{
  background: linear-gradient(90deg, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
  linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  border: 3px solid transparent;
  border-radius: 5px;
}

.celestialButton{
  background: linear-gradient(90deg, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
  linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;
  border: 3px solid transparent;
  border-radius: 5px;
}

.zotZoomerButton{
  background: linear-gradient(90deg, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
  linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;
  border: 3px solid transparent;
  border-radius: 5px;
}

.musicalMadnessButton{
  background: linear-gradient(90deg, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
  linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;
  border: 3px solid transparent;
  border-radius: 5px;
}

.playButton:hover,
.infoButton:hover {
  transform: scale(1.08);
  transition: all 0.5s ease;
}

.ImagesLayout {
  border-radius: 6px !important;
  padding: 0 !important;
  margin: auto !important;
}

.ImageIcon {
  text-align: center;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  height: 60px;
  width: 60px;
  z-index: 999;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
}

.ImageIconAnimation {
  animation: IconGlow 1.5s infinite linear;
}

.ImageIcon:hover
{
  transform: scale(1.2);
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .ImageIcon{
    position:absolute;
    top:0;
    right:0;
    margin-top: 15px;
  }
}

@media screen and (max-width: 550px) {
  .ImageIcon{
    margin-top: 8px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 350px) {
  .ImageIcon{
    position:relative;
    margin-top: 0;
    margin-bottom: 10px;
    align-self: center;
    margin-right: 0;
    height: 50px;
    width: 50px;
  }
}


/* #endregion PortfolioButtons */

/* #region OriginalPortfolioDesign */

.originalLayout, .originalImages {
  background-image: linear-gradient(to right bottom, #000000, #1c1c1c, #323232, #4E4E4E,#323232, #1c1c1c, #000000);
  background-image: -webkit-linear-gradient(to right bottom, #000000, #1c1c1c, #323232, #4E4E4E,#323232, #1c1c1c, #000000);
  background-image: -moz-linear-gradient(to right bottom, #000000, #1c1c1c, #323232, #4E4E4E,#323232, #1c1c1c, #000000);
  background-image: -ms-linear-gradient(to right bottom, #000000, #1c1c1c, #323232, #4E4E4E,#323232, #1c1c1c, #000000);
  background-image: -o-linear-gradient(to right bottom, #000000, #1c1c1c, #323232, #4E4E4E,#323232, #1c1c1c, #000000);
  border-radius: 15px;
  padding: 20px 25px;
  border: 4px orange solid;
  color: white;
}

h2.originalTitle {
  background-image: linear-gradient(to right bottom, #EDA700, #DB7803);
  background-image: -webkit-linear-gradient(to right bottom, #EDA700, #DB7803);
  background-image: -moz-linear-gradient(to right bottom, #EDA700, #DB7803);
  background-image: -ms-linear-gradient(to right bottom, #EDA700, #DB7803);
  background-image: -o-linear-gradient(to right bottom, #EDA700, #DB7803);
}

.originalIcon{
  background-color: #000;
  border: 2px orange solid;
}

.originalLayout p.gameDescription
{
  background-color: rgba(22, 22, 22, 0.8);
}

/* #endregion OriginalPortfolioDesign */

/* #region GameSpecificDesigns */

.fellChaser, .fellChaserImages {
  border-radius: 15px;
  padding: 20px 25px;
  color: white;

  background: url(assets/images/FellChaserBackground.png) padding-box,
  linear-gradient(to right bottom, #e4e4e4, #dbd1e2, #ddbbd8, #e686a3, #e1839f, #be9dba, #b4aaba, #b3b3b3) border-box;
  background: url(assets/images/FellChaserBackground.png) padding-box,
  -webkit-linear-gradient(to right bottom, #949494, #887d8d, #86647d, #761e34, #5a3a52, #4f4654, #4e4e4e) border-box;
  background: url(assets/images/FellChaserBackground.png) padding-box,
  -moz-linear-gradient(to right bottom, #949494, #887d8d, #86647d, #761e34, #5a3a52, #4f4654, #4e4e4e) border-box;
  background: url(assets/images/FellChaserBackground.png) padding-box,
  -ms-linear-gradient(to right bottom, #949494, #887d8d, #86647d, #761e34, #5a3a52, #4f4654, #4e4e4e) border-box;
  background: url(assets/images/FellChaserBackground.png) padding-box,
  -o-linear-gradient(to right bottom, #949494, #887d8d, #86647d, #761e34, #5a3a52, #4f4654, #4e4e4e) border-box;

  border: 4px solid transparent;
} 

h2.FCTitle {
  background-image: linear-gradient(to bottom, #aeaeae, #dddddd, #bf0909);
  background-image: -webkit-linear-gradient(to right bottom, #949494, #887d8d, #86647d, #761e34, #5a3a52, #4f4654, #4e4e4e);
  background-image: -moz-linear-gradient(to right bottom, #949494, #887d8d, #86647d, #761e34, #5a3a52, #4f4654, #4e4e4e);
  background-image: -ms-linear-gradient(to right bottom, #949494, #887d8d, #86647d, #761e34, #5a3a52, #4f4654, #4e4e4e);
  background-image: -o-linear-gradient(to right bottom, #949494, #887d8d, #86647d, #761e34, #5a3a52, #4f4654, #4e4e4e);
}

.fellChaserIcon{
  background: linear-gradient(to bottom, #270627, #420747, #5c076b, #760793, #8e0ebf, #9813d4, #a119e9, #a920ff, #a920ff, #a920ff, #a920ff, #a920ff) padding-box,
  linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: -webkit-linear-gradient(to bottom, #270627, #420747, #5c076b, #760793, #8e0ebf, #9813d4, #a119e9, #a920ff, #a920ff, #a920ff, #a920ff, #a920ff) padding-box,
  -webkit-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: -moz-linear-gradient(to bottom, #270627, #420747, #5c076b, #760793, #8e0ebf, #9813d4, #a119e9, #a920ff, #a920ff, #a920ff, #a920ff, #a920ff) padding-box,
  -moz-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: -ms-linear-gradient(to bottom, #270627, #420747, #5c076b, #760793, #8e0ebf, #9813d4, #a119e9, #a920ff, #a920ff, #a920ff, #a920ff, #a920ff) padding-box,
  -ms-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: -o-linear-gradient(to bottom, #270627, #420747, #5c076b, #760793, #8e0ebf, #9813d4, #a119e9, #a920ff, #a920ff, #a920ff, #a920ff, #a920ff) padding-box,
  -o-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;

  border: 2px solid transparent;
}

.fellChaser p.gameDescription
{
  background-color: rgb(40, 40, 40, 0.8);
}

.enKore, .enKoreImages {
  border-radius: 15px;
  padding: 20px 25px;
  color: white;

  background: url(assets/images/EKBackgroundScaled.png) padding-box,
  linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: url(assets/images/EKBackgroundScaled.png) padding-box,
  -webkit-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: url(assets/images/EKBackgroundScaled.png) padding-box,
  -moz-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: url(assets/images/EKBackgroundScaled.png) padding-box,
  -ms-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: url(assets/images/EKBackgroundScaled.png) padding-box,
  -o-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;

  border: 4px solid transparent;
}

h2.EKTitle {
  background-image: linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff);
  background-image: -webkit-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff);
  background-image: -moz-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff);
  background-image: -ms-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff);
  background-image: -o-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff);
}

.enKoreIcon{
  background: linear-gradient(to bottom, #270627, #420747, #5c076b, #760793, #8e0ebf, #9813d4, #a119e9, #a920ff, #a920ff, #a920ff, #a920ff, #a920ff) padding-box,
  linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: -webkit-linear-gradient(to bottom, #270627, #420747, #5c076b, #760793, #8e0ebf, #9813d4, #a119e9, #a920ff, #a920ff, #a920ff, #a920ff, #a920ff) padding-box,
  -webkit-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: -moz-linear-gradient(to bottom, #270627, #420747, #5c076b, #760793, #8e0ebf, #9813d4, #a119e9, #a920ff, #a920ff, #a920ff, #a920ff, #a920ff) padding-box,
  -moz-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: -ms-linear-gradient(to bottom, #270627, #420747, #5c076b, #760793, #8e0ebf, #9813d4, #a119e9, #a920ff, #a920ff, #a920ff, #a920ff, #a920ff) padding-box,
  -ms-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;
  background: -o-linear-gradient(to bottom, #270627, #420747, #5c076b, #760793, #8e0ebf, #9813d4, #a119e9, #a920ff, #a920ff, #a920ff, #a920ff, #a920ff) padding-box,
  -o-linear-gradient(to right bottom, #f568f9, #ed95ff, #eab9ff,#77c6ff, #00bdff) border-box;

  border: 2px solid transparent;
}

.enKore p.gameDescription
{
  background-color: rgba(14, 14, 14, 0.8);
}

.celestialClash, .celestialClashImages {
  border-radius: 15px;
  padding: 20px 25px;
  color: white;

  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;
  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  -webkit-linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;
  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  -moz-linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;
  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  -ms-linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;
  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  -o-linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;

  border: 4px solid transparent;
}

h2.CCTitle {
  background-image: linear-gradient(to bottom, #F3F3F3, #cacaca, #a0a0a0);
  background-image: -webkit-linear-gradient(to bottom, #F3F3F3, #cacaca, #a0a0a0);
  background-image: -moz-linear-gradient(to bottom, #F3F3F3, #cacaca, #a0a0a0);
  background-image: -ms-linear-gradient(to bottom, #F3F3F3, #cacaca, #a0a0a0);
  background-image: -o-linear-gradient(to bottom, #F3F3F3, #cacaca, #a0a0a0);
}

.celestialClashIcon{
  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;
  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  -webkit-linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;
  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  -moz-linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;
  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  -ms-linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;
  background: url(assets/images/CCBackgroundScaled.png) padding-box,
  -o-linear-gradient(to right bottom, #EADDA1, #D2B136) border-box;

  border: 2px solid transparent;
}

.celestialClash p.gameDescription
{
  background-color: rgba(31, 53, 83, 0.8);
}

.zotZoomer, .zotZoomerImages {
  border-radius: 15px;
  padding: 20px 25px;
  color: white;

  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;
  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  -webkit-linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;
  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  -moz-linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;
  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  -ms-linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;
  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  -o-linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;

  border: 4px solid transparent;
}

h2.ZZTitle {
  background-image: linear-gradient(to bottom, #f0c5f2, #5645AE);
  background-image: -webkit-linear-gradient(to bottom, #f0c5f2, #5645AE);
  background-image: -moz-linear-gradient(to bottom, #f0c5f2, #5645AE);
  background-image: -ms-linear-gradient(to bottom, #f0c5f2, #5645AE);
  background-image: -o-linear-gradient(to bottom, #f0c5f2, #5645AE);
}

.zotZoomerIcon{
  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;
  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  -webkit-linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;
  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  -moz-linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;
  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  -ms-linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;
  background: url(assets/images/ZZBackgroundScaled.png) padding-box,
  -o-linear-gradient(to bottom right, #5645AE, #f0c5f2) border-box;

  border: 2px solid transparent;
}

.zotZoomer p.gameDescription
{
  background-color: rgba(39, 40, 45, 0.8);
}

.musicalMadness, .musicalMadnessImages {
  border-radius: 15px;
  padding: 20px 25px;
  color: white;

  background: url(assets/images/MMBackgroundScaled.png) padding-box,
  linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;
  background: url(assets/images/MMBackgroundScaled.png) padding-box,
  -webkit-linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;
  background: url(assets/images/MMBackgroundScaled.png) padding-box,
  -moz-linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;
  background: url(assets/images/MMBackgroundScaled.png) padding-box,
  -ms-linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;
  background: url(assets/images/MMBackgroundScaled.png) padding-box,
  -o-linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;

  border: 4px solid transparent;
}

h2.MMTitle {
  background-image: linear-gradient(to bottom, #69d7ef, #763eba);
  background-image: -webkit-linear-gradient(to bottom, #69d7ef, #763eba);
  background-image: -moz-linear-gradient(to bottom, #69d7ef, #763eba);
  background-image: -ms-linear-gradient(to bottom, #69d7ef, #763eba);
  background-image: -o-linear-gradient(to bottom, #69d7ef, #763eba);
}

.musicalMadnessIcon{
  background: url(assets/images/MMBackgroundScaled.png) padding-box,
  linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;
  background: url(assets/images/MMBackgroundScaled.png) padding-box,
  -webkit-linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;
  background: url(assets/images/MMBackgroundScaled.png) padding-box,
  -moz-linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;
  background: url(assets/images/MMBackgroundScaled.png) padding-box,
  -ms-linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;
  background: url(assets/images/MMBackgroundScaled.png) padding-box,
  -o-linear-gradient(to bottom right, #9054d8, #69d7ef) border-box;

  border: 2px solid transparent;
}

.musicalMadness p.gameDescription
{
  background-color: rgba(41, 26, 35, 0.8);
}

/* #endregion GameSpecificDesigns */

/* #region Slideshow Start */

.cycle-slideshow{
  transform: scale(1);
  width: 90%;
  height: 90%;
}

.slide {
  width: 100%;
  position: relative;
}

.slide img {
  display: block;
  width: 100%;
}

.slide-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  width: 100%;
  height: 20%;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s;
}

.slide-text h4 {
  font-size: 90%;
  margin: 0;
  margin-top: -10px;
}

@media screen and (max-width: 1439px) {
  .slide-text {
    height: 25%;
  }
}

@media screen and (max-width: 1079px) {
  .slide-text h4{
    font-size: 85%;
  }
}

.imageSizing {
  width: 30%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cycle-slideshow{
    display: flex;
    flex: 1;
  }

  .slide-text {
    height: 20%;
  }

  .slide-text h4 {
    font-size: 110%;
  }

  .imageSizing {
    width: 70%;
    float: none;
    padding-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .slide-text h4 {
    font-size: 90%;
  }

  .imageSizing {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .slide-text {
    height: 25%;
  }
}

@media screen and (max-width: 500px) {
  .imageSizing {
    width: 90%;
  }

}

@media screen and (max-width: 420px) {
  .imageSizing {
    width: 100%;
  }

  .slide-text h4 {
    font-size: 80%;
  }
}

@media screen and (max-width: 375px) {
  .slide-text {
    height: 30%;
  }
}

@media screen and (max-width: 350px) {
  .slide-text {
    height: 40%;
  }
}

/* Prev and Next Buttons */
.cycle-prev,
.cycle-next {
  position: absolute;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  padding: 1px 10px;
  display: block;
  cursor: pointer;
  font-size: 170%;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s;
}

.cycle-next {
  right: 0;
}

.cycle-slideshow:hover .slide-text {
  opacity: 1;
}

/* .cycle-slideshow:hover .cycle-prev,
.cycle-slideshow:hover .cycle-next,
.cycle-slideshow:hover .slide-text {
  opacity: 1;
} */

.cycle-pager {
  position: absolute;
  top: 20px;
  z-index: 1003;
  width: 100%;
  text-align: center;
}

.cycle-pager span {
  text-indent: -9999px;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 4px;
  cursor: pointer;
}

.cycle-pager .cycle-pager-active {
  background-color: #000;
}

/* #endregion Slideshow End */

/* Portfolio Page End */

/* #region Contact Me Modal Start */

.modal-container {
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  display: none;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal {
  background: linear-gradient(to right bottom, #000000, #1c1c1c, #323232, #4E4E4E,#323232, #1c1c1c, #000000) padding-box,
  linear-gradient(to right bottom, #DB7802, #EAA001) border-box;
  border: 5px solid transparent;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 25%;
  max-width: 100%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .modal {
    width: 50%;
  }
}

.modal h1 {
  padding: 0;
  margin: 0;
  color: white;
}

.modal-container.show {
  pointer-events: auto;
  display: flex;
}

.contactForm {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
  padding: 0;
}

form {
  width: 100%;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea,
button#close {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  box-shadow: 3px 5px #000000;
  background-color: #c9c9c9;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: black;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: orange;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactButtons {
  display: flex;
  align-items: flex-end;
  margin: 0 20px;
  justify-content: space-evenly;
}

@media screen and (max-width: 450px) {
  .contactForm .inputBox input[type="Submit"],button#close {
    font-size: 16px !important;
  }

  .contactForm .inputBox input[type="Submit"] {
    margin-left: 0 !important;
  }
  
  .contactForm .inputBox span{
    font-size: 13px;
  }
}

.contactForm .inputBox input[type="Submit"],
button#close {
  background: linear-gradient(to left bottom, #000000, #0f0f0f, #191919, #222222, #2b2b2c, #2b2b2c, #2b2b2c, #2b2b2c, #222222, #191919, #0f0f0f, #000000) padding-box,
  linear-gradient(to right bottom, #DB7802, #EAA001) border-box;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  height: 50%;
}

.contactForm .inputBox input[type="Submit"]:hover,
button#close:hover {
  transform: scale(1.08);
  transition: 0.5s;
}

.contactForm .inputBox input[type="Submit"] {
  margin-left: -20px;
}

button#close {
  margin-left: 30px;
}

/* #endregion Contact Me Modal End */